<%- include('partials/header') -%>

<div class="coming-soon">
    <h3>coming soon</h3>

    <p>
        You will be able to keep track of players subbed on/off
        logging total time played to make sure all players get equal game time in line with the F.A guidelines. 
    </p>
</div>


<script src="../main.js"></script>
</body>