<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    
    <h1>Game day</h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <p>Game day is used to keep track of results, goal scorers and assists</p>
</body>
</html>