<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Match results</title>
</head>
<body>
    <h1>Wymondly Park</h1>
    <a href="/results/getResults">Match results</a>
    <a href="/results/getPlayers">Players</a>

    <h2>Add Result</h2>
    <form action="/results/createResult" method="POST">

        <label for="date"></label>
        <input class="date" type="date" placeholder="" name="date" id="date"  min="2022-09-04"><br>

        <label for="homeTeam"></label>
        <input type="text" placeholder="Home team" name="homeTeam" id="home-team">
            <select name="homeScore" id="homeScore">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>

        <label for="awayTeam"></label>
        <input type="text" placeholder="Away Team" name="awayTeam" id="away-team">
            <select name="awayScore" id="awayScore">
                <option value='0'>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br>

        <label for="scorer"></label>
        <input type="text" placeholder="Scorers" name="scorer" id="scorer"><br>
        <input class="submitBtn" type="submit">
    </form>

    <script src="../main.js"></script>

</body>
</html>

